body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:darksalmon;
    color:white;
    margin-top: 2%;
    background: url(new-year-2025.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 60px;
}
.countdown {
    font-size: 88px;
    margin-bottom: 20px;
    color:palegreen;
    font-family: Arial, Helvetica, sans-serif;
}
.current-time {
    font-size: 60px;
    color:aqua;
}